

.raccoonInfo
{
    justify-content: center;
    position: sticky;
    top: 0;
    color: black;
  
}


/* Weasel css section*/
.weaselInfo
{
  
}

/* Koala css section*/
.koalaInfo
{
  
}

/* Penguin css section*/
.penguinInfo
{
    justify-content: center;
    position: sticky;
    top: 0;
    color: black;
}
