

.raccoonInfo
{
    justify-content: center;
    position: sticky;
    top: 0;
    color: black;
  
}


.galleryName
{
    text-shadow: 5px 5px red;
}

/* Weasel css section*/
.weaselInfo
{
  
}

/* Koala css section*/
.koalaInfo
{
  
}

/* Penguin css section*/
.penguinInfo
{
    justify-content: center;
    position: sticky;
    top: 0;
    color: black;
}
